SoapCalculator/src/conf/xml-resources/web-service-references/CalculatorService/wsdl/localhost_8080/SoapCalculator/CalculatorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://localhost:8084/SoapCalculator/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://localhost:8084/SoapCalculator/">

<xs:element name="add" type="tns:add" />

<xs:element name="addResponse" type="tns:addResponse" />

<xs:element name="subtract" type="tns:subtract" />

<xs:element name="subtractResponse" type="tns:subtractResponse" />

<xs:complexType name="add">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0" />
<xs:element name="arg1" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtract">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0" />
<xs:element name="arg1" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtractResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>